/*Inchworm: #AADF51*/
/*Lavender Indigo: #8C51E6*/
/*Aqua: #00E7FE*/
/*Magic Potion: #F84B62*/
/*Crayola's Dandelion: #FFDE72*/
/*Celtic Blue: #3060CF*/

.anchorPane{
    -fx-background-color: #FFDE72;
}

.text-field{
    -fx-font-family: sans-serif;
}


.adminBtn{
    -fx-background-color: #00E7FE;
    -fx-alignment: center-left;
    -fx-background-image: url('https://icon-library.com/images/admin-icon-png/admin-icon-png-28.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: contain;
}

.adminBtn:hover{
    -fx-text-fill: white;
    -fx-background-color: #3060CF;
}

.connectBtn{
    -fx-background-color: #00E7FE;
}

.connectBtn:hover{
    -fx-text-fill: white;
    -fx-background-color: #3060CF;
}

.emptyLabel{
    -fx-background-image: url("../images/splittyLogo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
    -fx-background-size: contain;
}

.serverField{
    -fx-background-color: #00E7FE;
}

.serverField:focused{
    -fx-background-color: #3060CF;
}
.ball1{
    -fx-fill: #F84B62;
}

.ball2{
    -fx-fill: #AADF51;
}

.ball3{
    -fx-fill: #3060CF;
}

.euro{
    -fx-text-fill: #FFDE72 ;
}
